<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const ctx = document.getElementById('myChart').getContext('2d');

  // Sample data
  const interestData = {{ interestData|safe }}
  const penaltyData = {{ penaltyData|safe }}
  const interestPlusPenaltyData = {{ interestPlusPenaltyData|safe }}
  const thresholdData = {{ thresholdData|safe }}
  const optimumData = {{ optimumData|safe }}

  // Parse the dates to JS
  interestData.forEach((d) => {
    d.x = new Date(d.date);
  });

  penaltyData.forEach((d) => {
    d.x = new Date(d.date);
  });

  interestPlusPenaltyData.forEach((d) => {
    d.x = new Date(d.date);
  });

  thresholdData.forEach((d) => {
    d.x = new Date(d.date);
  });

  optimumData.forEach((d) => {
    d.x = new Date(d.date);
  });

  // Render the chart
  const chart = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [
        {
          label: 'Interest',
          data: interestData,
          backgroundColor: '#3e95cd',
          fill: false,
          steppedLine: 'middle'
        },

        {
          label: 'Penalty',
          data: penaltyData,
          backgroundColor: '#8e5ea2',
          fill: false,
          steppedLine: 'middle'
        },

        {
          label: 'Interest + Penalty',
          data: interestPlusPenaltyData,
          backgroundColor: '#3cba9f',
          fill: false,
          steppedLine: 'middle'
        },

        {
          label: 'Threshold',
          data: thresholdData,
          backgroundColor: '#e8c3b9',
          fill: false,
          steppedLine: 'middle'
        },

        {
          label: 'Optimum',
          data: optimumData,
          backgroundColor: '#c45850',
          fill: false,
          steppedLine: 'middle'
        },
      ],
    },
    options: {
      responsive: true,
      scales: {
        xAxes: [
          {
            type: 'time',
            time: {
              unit: 'month',
              round: 'month',
              displayFormats: {
                day: 'MMM Y',
              },
            },
          },
        ],
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });
});
</script>
<div style="width: 100%;">
  <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="myChart"></canvas>
</div>
